[user]
	email = paul.nikitochkin@gmail.com
	name = Paul Nikitochkin
[push]
	default = current
[rerere]
	enabled = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
